#options {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
    margin: 10px;
}

#option {
    padding: 5px;
    margin: 3px;
}

#option:hover {
    background-color: rgb(240,240,240);
    border-radius: 5px;
}

#rightOptions {
    display: flex;
    flex-direction: row;
}