#todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border:rgba(128, 128, 128, 0.219);
    border-style: solid;
    height: 50px;
}

#grip, #actions {
    font-size: 14px;
    color: rgba(138, 138, 138, 0.6);
    padding: 5px;
    border-radius: 3px;
    visibility: hidden;
}

#grip:hover, #actions:hover {
    cursor: grab;
    background-color: rgba(128, 128, 128, 0.219);
}

/* #actions {
    font-size: 14px;
    color: rgba(138, 138, 138, 0.6);
    padding: 5px;
    border-radius: 3px;
} */

#todoItem:hover #grip, #todoItem:hover #actions {
    visibility: visible;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}
