#checkboxContainer {
    padding: 10px;
}

.checkbox {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: solid 1px rgb(147, 147, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkIcon {
    font-size: 8px;
    color: rgba(0, 0, 0, 0);
    transition: visibility 25ms ease-in-out;
}

.checkbox:hover #checkIcon {
    color: rgb(147, 147, 147);
    transition: 1s;
}

#p1 {
    border: solid 1px red;
    background-color: rgba(255, 0, 0, 0.183);
}

#p1:hover #checkIcon {
    color: red;
}

#p2 {
    border: solid 1px orange;
    background-color: rgba(255, 166, 0, 0.195);
}

#p2:hover #checkIcon {
    color: orange;
}

#p3 {
    border: solid 1px blue;
    background-color: rgba(0, 0, 255, 0.211);
}

#p3:hover #checkIcon {
    color: blue;
}


