#checkbox {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: solid 1px rgb(147, 147, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkIcon {
    font-size: 8px;
    color: rgba(0, 0, 0, 0);
    transition: visibility 25ms ease-in-out;
}

#checkbox:hover #checkIcon {
    color: rgb(147, 147, 147);
    transition: 1s;
}

.p1 {
    background-color: red;
}

.p2 {
    background-color: orange;
}

.p3 {
    background-color: blue;
}


