#todoItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 0px;
    border-bottom:rgba(128, 128, 128, 0.219) 1px solid;
    border-style: solid;
    height: max-content;
    padding: 5px;
}

#grip {
    font-size: 14px;
    color: rgba(138, 138, 138, 0.6);
    padding: 2px;
    border-radius: 3px;
    visibility: hidden;
}

#grip:hover, #actions:hover {
    background-color: rgba(128, 128, 128, 0.219);
}

#grip:hover {
    cursor: grab;
}

#actions {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: rgba(138, 138, 138, 0.6);
    padding: 5px;
    border-radius: 3px;
}

#todoItem:hover #grip, #todoItem:hover #actions {
    visibility: visible;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}
