#taskContent {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#task {
    font-size: 15px;
    color: rgb(6, 6, 6);
}

#description {
    font-size: 11px;
}
