#checkbox {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: solid 2px black;
}

.p1 {
    background-color: red;
}

.p2 {
    background-color: orange;
}

.p3 {
    background-color: blue;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}
